<!DOCTYPE html>
<html>
<head>
<meta charset="UTF-8">
<title th:text=${pagename}></title>
<script src="js/jquery-1.12.4.js"></script>
<script>
	function millisecondsToDate(elem) {
		var date = parseInt(elem.text());
		if(!isNaN(date)){
			date = new Date(date).toISOString();
			elem.text(date);
		}
	}
	
	function cancelCrawling(element){
		var conf = confirm("취소하시겠습니까?");
		if(conf==false)
			return;
		var id = $(element).parent().parent().parent().find(".startDate").attr("id");
		$.ajax({
    		url: "/cancel?id="+id,
    		type: "GET",
    		success : function(){
    			alert("취소되었습니다.");
    			location.reload();
    		}
    	});
		
	}

	$(document).ready(function() {
		
		$(".startDate, .endDate").each(function(){
			millisecondsToDate($(this));	
		});
		
		$(".startDate, .keywords, .status, .endDate").click(function(){
			var id =$(this).parent().find(".startDate").attr("id");
			document.location.href='/collect_info?id='+id;
		});
		
		
		
		
	});
</script>
<style>
	table {
		border: 1px solid #444444;
		border-collapse: collapse;
	}
	
	th, td {
		border: 1px solid #444444;
		padding: 5px;
	}
	tbody>tr:hover {
	    background-color: #cbcbff;
	}
	.startDate, .keywords, .status, .endDate{
		cursor: pointer;
	}
</style>
</head>
<body>
	<a href="/">메인페이지</a>
	<a href="/collect">데이터 수집</a>
	<a href="/analyse">데이터 분석</a>

	<h1>데이터 수집목록</h1>
	<form action="/collect">
		<input type="date" name="startDate"/>&nbsp;~&nbsp;<input type="date" name="endDate"/>
		<input type="submit" value="검색"/>
	</form>
	<br />
	<button onclick="document.location.href='/collect_info'">생성</button>
	
	<br />
	<table>
		<thead>
			<tr>
				<td>검색일시</td>
				<td>키워드</td>
				<td>검색상태</td>
				<td>검색종료</td>
				<td>관리</td>
			</tr>
		</thead>
		<tbody>
			<tr th:each="collect : ${collectList}">
				<td class="startDate" th:attr="id=${collect.id}" th:text="${collect.id}"></td>
				<td class="keywords">
					<span th:each="keywords : ${collect.keyWordList}"> 
						<span th:text="${keywords}"></span>
					</span>
				</td>
				<td class="status" th:switch="${collect.crawlerStatus}">
					<p th:case="crawling">작업중</p>
					<p th:case="canceled">취소</p>
					<p th:case="finished">완료</p>
				</td>
				<td class="endDate" th:text="${collect.endDate}"></td>
				<td>
					<p th:if="${collect.crawlerStatus == 'crawling'}"><button onclick="cancelCrawling(this)">중지</button></p>
					<p th:unless="${collect.crawlerStatus == 'crawling'}">-</p>
				</td>
			</tr>
		</tbody>
		
	</table>
</body>
</html>