<!DOCTYPE html>
<html>
<head>
<meta charset="UTF-8">
<title th:text=${pagename}></title>
<script src="js/jquery-1.12.4.js"></script>
<script>
	function deleteKeyword(element){
		$(element).parent().remove();
	}
	$(document).ready(function() {
		$("#plusKeyword").click(function(){
			$("#keywordValues").append("<div class=\"keywordSet\"><input type=\"text\"/><button class=\"deleteKeyword\" onclick=\"deleteKeyword(this)\">-</button></div>");
		});
		
		$("#start").click(function(){
			var collectInfo = new Object();
			collectInfo.webPortalList = [];
			collectInfo.keyWordList = [];
			$(".webPortalList>input[type=\"checkbox\"]").each(function(){
				if($(this).is(":checked"))
					collectInfo.webPortalList.push($(this).val());
			});
			
			$(".keywordSet>input[type=\"text\"]").each(function(){
				collectInfo.keyWordList.push($(this).val());
			});
			
			$.ajax({
	    		url: "/collect_info",
	    		type: "POST",
	    		contentType:"application/json",
	    		charset:"utf-8",
	    		data: JSON.stringify(collectInfo),
	    		success : function(){
	    			console.log("success");
	    		}
	    	});
			
			
			console.log(collectInfo);
		});
	});
</script>
</head>
<body>
	<button onclick="history.back()">이전</button>
	<h1>데이터 수집</h1>
	<fieldset>
		<legend>검색포털</legend>
		<div class="webPortalList" >
			<input type="checkbox" name="webportal" th:each="entry : ${apiConfig}" th:attr="value=${entry.key}" th:text="${entry.value.name}"/>
		</div>
	</fieldset>
	<fieldset>
		<legend>검색키워드</legend>
		<div id="keywordList">
			<div id="keywordValues">
				<div class="keywordSet">
					<input type="text"/>
				</div>
			</div>
			<button id=plusKeyword>+</button>
		</div>
	</fieldset>
	<button id="start">시작</button>
</body>
</html>